//- include _имя_папки/_имя_страницы-имя_секции
include _blocks/_all_blocks
doctype html
html(lang="en")
	+head
	body
	
		- var menuSelected = 'Menu item 1';
		- var activePage = 'Page_1';
		
		+header(menuSelected, activePage)
		main.wrapper.page_1
			//- секции страницы -------------
			include _page_1/_section_1
			include _page_1/_section_2
			include _page_1/_section_3
			include _page_1/_section_4
			include _page_1/_section_5
			include _page_1/_section_6
			//- -----------------------------

		//- footer
		+footer
