//- include _имя_папки/_имя_страницы-имя_секции

//- layout файл подключения модулей
include _blocks/_all_blocks

//- header
+header
	+navbar
		+nav('Page_1')

.wrapper.page_1
	//- секции страницы -------------
	.container
		h1 Page 1
	//- -----------------------------

//- footer
+footer
