//- include _имя_папки/_имя_страницы-имя_секции
include _components/_blocks/_all_blocks
doctype html
html(lang="en")
	+head
	body
	
		- var menuSelected = 'Menu item 1';
		- var activePage = 'Page_1';
		
		+header(menuSelected, activePage)
		main.wrapper.page_1
			//- секции страницы -------------
			include _components/comp_1.pug
			//- -----------------------------

		//- footer
		+footer
