//- menuTypeSubmenu = true | false
- var menuTypeSubmenu = false

//- 
include ../_mixins/_nav
include ../_mixins/_logo
include ../_mixins/_burger

include ../_mixins/_socials
include ../_mixins/_tel
include ../_mixins/_mail
include ../_mixins/_selectLinks
include ../_mixins/_breadCrumbs
include ../_mixins/_faq
include ../_mixins/_langs

include _head
include _header
include _footer

