mixin footer
	footer.footer
		.container
			.footer__wrapper 

				//- Other logo
				//- - var logoLinkImg = "https://art.nativescript-vue.org/sponsors/progress.png"
				//- - var logoLinkImgMobile = "https://nativescripting.com/img/logo_full.svg"

				+logoFooter(logoFooter, logoFooterMobile)
				//- +logoMobile(logoLinkImgMobile)
				+footerNav
				+telephones
				+mail
				+socials


	script(src="js/libs/jquery-3.6.0.min.js")

	//- script(src="js/libs/aos.js")

	//- script(src="js/libs/jquery.liMarquee.js")
	
	//- script(src="js/libs/jquery.scrollbar.min.js")

	//- script(src="js/libs/lottie.min.js")

	//- script(src="js/libs/jquery.magnific-popup.min.js")

	//- script(src="js/libs/parallax.min.js")

	//- script(src="js/libs/select2.min.js")
	//- script(src="js/libs/select2.full.js")

	//- script(src="js/libs/swiper-bundle.min.js")

	script(src="js/main.js") 